<include file="Public:header" />
<!-- 头部结束 -->
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>资源管理(权限规则)</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <div class="example">
                                <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                    <button onclick="window.open('__URL__/add','_self')"  type="button" class="btn btn-primary">
										添加
                                    </button>                                    
                                    <button type="button" id="remove" class="btn btn-danger" >
															删除                                 
   									</button>
                                </div>
                                
                                <table data-toggle="table" id="exampleTableEvents" data-height="400" data-mobile-responsive="true">
                                    <thead>
                                        <tr>
                                            <th  data-checkbox="true" data-field="check"></th>
                                            <th data-field="id">Id</th>
                                            <th data-field="title">Title</th>
                                            <th data-field="name">Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                <volist name='vlist' id='v'>
                                  <tr>
                                   <td ><{$v.id}></td>
                                    <td ><{$v.id}></td>
                                     <td ><a href="__URL__/edit/id/<{$v.id}>"><{$v.title}></a></td>                                     
                                     <td ><{$v.name}></td>
                                    </tr>
                                  </volist>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>
     <script type="text/javascript">

     var $table = $('#exampleTableEvents');
     var $remove = $('#remove');
     $(function () {
         $remove.click(function () {
             var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                    if(row['0']==true){
                    return row['1'];
                 }
             });
             if(confirm("确定要删除数据吗？"))
             {
             window.location = "delall/id/"+ids;
             }
         });
         
     });

 </script>
</body>

</html>
