<include file="Public:header" />
<!-- 头部结束 -->
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>友情链接</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row"> 
                         <div class="col-sm-6 ">
                                <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                                    <button onclick="window.open('__URL__/add','_self')"  type="button" class="btn btn-primary">
										添加
                                    </button>    
                                                                    
                                    <button type="button" id="remove" class="btn btn-danger" >
															删除                                 
   									</button>
             
                                </div>
                                </div>
                                <form action="<{:U('Link/index')}>"  method="post"  id="form_sel" name="form_sel">
                                 <div class="col-sm-3 m-b-xs">
                                
                            </div>
                                
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入关键词" class="input-sm form-control" name="keyword"  value="<{$keyword}>"> 
                                    <span class="input-group-btn"><button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                </div>
                            </div>
                          </form>
                            
                        </div>                                                
                        <div class="table-responsive">
                        <form action="__URL__/delete" method="post" id="form_do" name="form_do">
                        
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" class="i-checks"   id="checkBox" ></th>
                                        <th>编号</th>
                                        <th>名称</th>
                                        <th>url地址</th>
                                        <th>是否显示</th>
                                        <th>排序</th>
                                        <th>添加时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                			<volist name='vlist' id='v'>
                                    <tr>
                                        <td>
                                            <input type="checkbox"  class="i-checks" name="id[]" value="<{$v.id}>">
                                        </td>
                                          <td><{$v.id}></td>
                                          
                                      <td><{$v.link_name}></td>
                                        <td><{$v.link_url}></td>
                                             <td >
                                     <if condition="$v['link_show'] ==0">
                                     可见
                                     <else />
                                       隐藏
										</if>				
                                     </td>
                                        <td><{$v.link_sort}></td>
                                        <td><{$v.link_addtime|date='Y-m-d H:i:s', ###}></td>
                                        <td>
                                        <a href="__URL__/edit/id/<{$v.id}>"><i class="fa fa-edit text-navy"></i></a>
                                        <a  href="__URL__/delete/id/<{$v.id}>" onClick="return confirm('是否确定删除?')"><i class="fa fa-remove color-red"></i></a>
                                        </td>
                                    </tr>
                                    </volist>
                                </tbody>
                            </table>
                             </form>
                        </div>     
<div class="green-black"><{$page}>总共<{$count}>条记录</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
   <script src="__PUBLIC__/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
            $('#checkBox').on('ifChecked', function(event){ //全选
        		$('input').iCheck('check');
        	});

        	$('#checkBox').on('ifUnchecked', function(event){ //反选
        		$('input').iCheck('uncheck');
        	});
        	$('#remove').click(function(){  //删除
                if(confirm("确定要删除数据吗？"))
                {
                	document.form_do.submit();
                }
            	});

            });

    </script>
</body>

</html>
