<include file="Public:header" />
<!-- 头部结束 -->
<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">欢迎您使用E+内容管理系统！
            </blockquote>

            <hr>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>个人信息</h5>
                    </div>
                    <div class="ibox-content">
                        <p>您好,<{$v.admin_realname}></p>
                        <p>上次登录时间：<{$v.admin_olddate|date='Y-m-d H:i:s',###}></p>
                        <p>上次登录IP：<{$v.admin_oldip}></p>
                        <p>登录次数：<{$v.admin_login}></p>
                        
                    </div>
                </div>
            </div>
            
                <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>站长通知</h5>
                    </div>
                    <div class="ibox-content">
                        <p>基于ThinkPHP框架开发的企业网站管理系统，国内PHP+MYSQL开源建站程序
它具有操作简单、功能强大、稳定性好，二次开发及后期维护方便。</p>
                       
                    </div>
                </div>
            </div>
            
                    <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>开发团队</h5>
                    </div>
                    <div class="ibox-content">
                        <p>版权所有：E格网络工作室</p>
                        <p>官方网站：www.egeweb.cn</p>
                    </div>
                </div>
            </div>
           </div>
           </div>
    <script src="__PUBLIC__/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/js/welcome.min.js"></script>
</body>

</html>