<include file="Public:head" />
<body id="con">
<!-- nav -->
<include file="Public:nav" />
<!-- /nav -->
<section id="content">
	<div class="wrapper">
    	<div class="contentbar">
    	<!-- navall -->
    	<include file="Public:navall" />
    	<!-- /navall -->
        	<form name="formsearch" method="post" action="__APP__/Search/result" id="search">
        		<input type="hidden" name="kwtype" value="0" />
				<input type="text" name="keywords" id="keywords" autocomplete="off" value="在这里搜索..." required x-webkit-speech x-webkit-grammar="builtin:translate" lang="zh-CN"  />
				<input type="submit" id="submit" value="搜 索" />
        	</form>        	
    		<div class="clear"></div>
        	<div id="newslist">
    		<ul class="news">
   <volist name='newsList' id='List'>
    			<li>
					 <if condition="empty($List['news_pic'] )  neq true">
					 					<div class='pic'><a href=''  target='_blank'><img src='<{$List.news_pic}>' /></a></div>
										</if>	
					<div class="newslist">
					<a href="<{$List.url}>" title="<{$List.news_title}>"><{$List.news_title}></a>
					<span>UPTATED:<{$List.news_addtime|date='Y-m-d H:i:s',###}></span>
					<p><{$List.news_description}></p>
					</div>
                    <div class="clear"></div>
				</li>
				</volist>
            </ul>
            </div>
            <div class="pager"><{$page}></div>
      </div>
      <div class="sidebar">
        
      </div>
      <div class="clear"></div>
  </div>
</section>
<include file="Public:foot" />
<script>
//<![CDATA[
		$("#keywords").focusin(function() {
		  $(this).val()=="在这里搜索..."?$(this).val(""):false;
		});
		$("#keywords").focusout(function() {
			$(this).val($(this).val());
			$(this).val()==""?$(this).val("在这里搜索..."):false;
		});
		$("#info img").lazyload({effect:"fadeIn",failurelimit:10});

//]]>
</script>
</body>
</html>
