	<div id="footerinfo">
		<div class="wrapper">
			<div class="adrtel">咨询电话：13876961163	&nbsp;&nbsp;办公地址：海口市琼山区道客新村一巷35号</div>
            <p>技术支持：<a href="http://www.egeweb.cn" target="_blank">Ege科技</a>  <!-- 站长统计代码 --></p>

			<div class="links">
                 友情链接：
<linklist  limit='20'>
                 <li><a href="<{$link_url}>" target="_blank"><{$link_name}></a> </li>
                 </linklist>    
			</div>
							<p>琼ICP备15001182号</p>
			
		</div>
  </div>


<div id="service2">
	<a class="srvCns" href="http://wpa.qq.com/msgrd?v=3&uin=87567798&site=qq&menu=yes" target="_blank">在线咨询</a>
	<a class="goTop" id="goTop" title="返回顶部" style="display:none">返回顶部	
	</a>
</div>

<script type="text/javascript" src="__PC__/js/jquery.plugin.min.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src=__PC__/js/killie6.js"></script>
<![endif]-->
