<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><config name="egetitle"/></title>
<meta name="description" content="<config name="egedescription"/>" />
<meta name="keywords" content="<config name="egekeywords"/>" />
<link href="__PC__/style/style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="__ROOT__/favicon.ico" type="image/x-icon" />
<!--[if lt IE 9]><script type="text/javascript" src="__PC__/js/html5.js"></script><![endif]-->
<script type="text/javascript" src="__PC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PC__/js/jquery.plugin.min.js"></script>
<script type="text/javascript" src="__PC__/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
