<header>
	<div class="wrapper">
		<h1 class="logo"><a href="#" title="E格科技网络公司"><img src="__PC__/img/logo.png" width="214" height="60" alt="E格科技网络公司" /></a></h1>
    	<nav>
<ul>
  <li class="home hover"><a title="E格科技网络公司" 
  href="__APP__">首页</a></li>
  <li class="nav1"><a title="关于" 
  href="__APP__/Page/index/id/104/">关于</a></li>
  <li class="nav2"><a title="服务" 
  href="__APP__/Page/index/id/105/">服务</a></li>
  <li class="nav3"><a title="案例" 
  href="__APP__/Product/group/id/76/">案例</a></li>
  <li class="nav4"><a title="联系方式" 
  href="__APP__/Page/index/id/106/">联系方式</a></li>
  </ul>
		</nav>
  </div>
</header>